html body {
    margin: 0 0;
    padding: 0 0;
    height: 100vh;
    width: 95vw;
    background: linear-gradient(180deg, rgba(231, 32, 211, 0.2), rgba(88, 39, 125, 0.2)), radial-gradient(circle at bottom right, #ecf0ff, #f3feff, #cdbefd);
    background-size: 100% 100%, auto;
    background-position: middle top, right;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    gap: 52%;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.container .navbar ul {
    display: flex;
    column-gap: 80%;
    margin-left: 12vw;
    padding-top: 6px;
    list-style: none;
    font-weight: bold;
    letter-spacing: 1px;
    color: #835b87;
    cursor: pointer;
}

.get-started {
    display: flex;
    background: linear-gradient(90deg, #E689DD, #415FFF);
    color: white;
    border-radius: 18px;
    border-style: none;
    height: 50px;
    width: 185px;
    margin-top: 6px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.3px;
    line-height: 50%;
    align-items: center;
    padding-left: 24px;
    gap: 10px;
    transition: all 0.2s ease-in;
    box-shadow: 0px 0px 30px 1px rgb(165, 132, 203);
}

.get-started:hover {
    color: linear-gradient(90deg, rgb(246, 74, 255), rgb(190, 162, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    box-shadow: none;
}

.face {
    margin-top: 30vh;
    margin-left: 30px;
    font-weight: 800;
    letter-spacing: 2px;
}

.awaken {
    font-size: 10vh;
    width: fit-content;
    background: linear-gradient(90deg, #4865FF, #9D74FF, #D984D1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3) inset;

}

.your-mind {
    display: flex;
    font-size: 42px;
    line-height: 135%;
    color: white;
    gap: 20px;
}

.mind {
    font-size: 10vh;
    width: fit-content;
    background: linear-gradient(90deg, #D984D1, #9D74FF, #4865FF);
    width: fit-content;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    filter: drop-shadow(20px 0px 3px rgba(255, 0, 0, 0.5) inset);
}

.navbar a {
    text-decoration: none;
}

.landing-image img {
    width: 70vw;
    position: absolute;
    left: 33vw;
    top: 20vh;
    bottom: 20vh;
}

.features {
    background-color: white;
    margin-top: 43vh;
    height: 70vh;
    width: 100vw;
    padding-top: 10px;
    text-align: center;
}

.featues h1 {

    justify-content: center;
    align-items: center;
}

.card1 {
    border-radius: 2px solid black;
    border-radius: 25px;
}