:root {
    --light-blue: #173042;
    --dark-blue: #236477;
    --light-bg: #f6f7f6;
    --bg: #d3ddda;
    --light-green: #7cad3e;
    --dark-green: #4a6c2f;
    --orange: #ff8b00;
    --blue: #4a56e5;

}

html body {
    padding: 0px;
    margin: 0px;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: white;
    font-weight: 400;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    background-image: url("/Website/assets/images/bg.jpg");
    background-size: cover;
    position: relative;
}

.container background-image {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.signup-image {
    margin-top: 6.5vh;
    margin-left: 2vw;
    height: 95vh;
    width: 59vw;

}

.signup-container {
    position: absolute;
    width: 50vw;
    left: 50vw;
    top: 1vh;
}

.signup-container .brand {
    text-align: center;
    color: var(--blue);
    background: linear-gradient(90deg, rgb(246, 74, 255), rgb(190, 162, 255), var(--blue));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: xx-large;
}

.signup-container .signup .type {
    text-align: center;
    margin-top: 8%;
    font-size: 33px;
    font-weight: 600;
}

.signup-container .signup .form-container form {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    /* width: 40%; */
    /* background-color: rgb(0, 255, 255); */
    align-items: center;
    text-align: left;
}

.signup-container .signup .form-container input {
    width: 50%;
    height: 30px;
    border-style: solid;
    border-color: rgb(210, 121, 255);
    border-width: 1px;
    border-radius: 25px;
    margin-bottom: 15px;
    padding: 1px 12px;
    font-size: 15px;
    background: transparent;
}

.signup-container .signup .form-container input:focus {
    outline-width: 0;
}

.signup-container .signup .form-container form label {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    padding-bottom: 2px;
    color: rgb(125, 125, 125);
    text-align: left;
    justify-items: right;
    width: 51%;
}

.togglePassword {
    font-size: small;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.togglePassword:hover {
    color: var(--blue);
}

.signup-btn {
    background-color: rgb(197, 162, 205);
    margin-top: 50px;
    border-radius: 25px;
    width: 50%;
    height: 30px;
    border-style: none;
    cursor: pointer;
    color: white;
    font-weight: 800;
    transition: all 0.8s ease;
    box-shadow: 10px 15px 35px -1px rgb(182, 158, 237);

}

.fp {
    color: rgb(160, 160, 160);
    font-size: smaller;
    width: 50%;
    text-align: right;
}

.fp:hover {
    color: var(--blue);

}

.invalid-id-pass {
    color: rgb(225, 0, 0);
    margin-top: 20px;
    display: none;
}

.signup-btn:hover {
    background: linear-gradient(90deg, rgb(205, 143, 239), rgb(212, 194, 255)) !important;
    box-shadow: none;
}

.already-user {
    color: rgb(118, 118, 118);
    font-size: smaller;
    width: 50%;
    margin-top: 30px;
    text-align: right;
}

.already-user a {
    color: rgb(130, 118, 245)
}


@media screen and (max-width:560px) {
    .signup-container {
        backdrop-filter: blur(10px);
    }
}